# Site settings
title: 做文章不专心# 博客名称
description: "前程不想想钗裙"
url:  "https://arctichayasi.github.io/Saved" # 博客地址
author:
  name: "年年由我" #你的昵称
  url: "https://arctichayasi.github.io/Saved/" # 博客地址
permalink: /:year/:month/:day/:title:output_ext

#Plugins
plugins: [jekyll-paginate, jekyll-sitemap, jekyll-archives]

#Pagination
paginate: 10 # 每页文章数
paginate_path: "/page:num/"

#Default layouts
defaults:
  -
    scope:
      path: "" # an empty string here means all files in the project
    values:
      layout: "default"

lang: en_US

#Highlighter
kramdown:
  input:          GFM
  syntax_highlighter: rouge

  syntax_highlighter_opts:
    css_class: 'highlight'
    span:
      line_numbers: false
    block:
      line_numbers: false
      start_line: 1

#Sass
sass:
  style: compressed
  sourcemap: never
  

theme: jekyll-theme-minimal
